# Ignore virtual environment
venv/

# Python cache files
*.pyc
__pycache__/

# SQLite database
db.sqlite3

# FAISS index files (large, binary, machine-specific)
*.faiss

# Ignore ALL files inside embeddings directory…
embeddings/*

# …but keep the search code (important)
!embeddings/search.py

# Django logs (optional)
*.log
